/* GENERAL */

#mobileitem {
	color: white;
	text-align: center;
	padding-top: 15%;
	
}

/* hidden */
@media screen and (min-width: 481px) and (max-width: 5000px) {
	
	  #mobileitem { display: none; }   /* hide it elsewhere */

}



@media screen and (max-width : 480px) {


	 .logo {
	 	display: none;
	 }
	 
	  .intro {
	      display: none;
	  }
	  
	  .button {
	  	display: none;
	  }
	  
	  .instructionbutton1 {
	  	display: none;
	  }
	  
	  .infobutton {
	  	display:none;
	  }
 
	  .feedbutton {
	  	display: none;
	  }
	  
	  	  #vidpause {
	  	  	display: none;
	  
	  	  }
	  
  
 }